<section class="home-section">
    <div class="text">Projects</div>
    <div class="row content-container">
        <div class="col-4 no-padding">
            <div class="content">
                <div class="title">
                    <b>Projeto Exemplo</b>
                </div>
            </div>    
        </div>
        <div class="col-4 no-padding">
            <div class="content">
                <div class="title">
                    <b>Projeto Exemplo</b>
                </div>
            </div>    
        </div>
        <div class="col-4 no-padding">
            <div class="content">
                <div class="title">
                    <b>Projeto Exemplo</b>
                </div>
            </div>    
        </div>
    </div>
</section>